{% extends 'base.html' %}
{% load humanize %}


{% block content %}
    <a href="{% url 'products:create' %}">글 작성</a>
        <br>
    {% for product in products %}
        <div>
            <a href="{% url 'products:detail' product.id %}">
                <div>{{ product.id }}. {{ product.title }}</div>
                <div>{{ product.price|intcomma }}</div>
            </a>
            <form action="{% url "products:choose" product.id %}"method ='POST'>
                {% csrf_token %}
                <button>
                    
                    {% if user in product.choose_users.all %}
                        찜풀기
                    {% else %}
                        찜하기
                    {% endif %}
                </button>
            </form>
        </div>
        <br>
    {% endfor %}
{% endblock content %}